/*  your css code here. If applicable */
main{
  background:#f5f5f5;
  padding:1rem;
  
}

div{
/*   padding:.5rem; */
  border:1px solid black;
  background:white;
  margin:1rem;
  
}
p{
  text-align:right;
}